# Azure Subscription and Tenant Configuration
subscription_id = "35a5288e-6993-4afa-97a9-2862baaf944e"
tenant_id       = "58729694-7d24-4182-94ef-60f4c02329e3"

# Resource Group Configuration
resource_group_name = "rg-network"
location            = "brazilsouth" # or "eastus"

# Project Configuration
project_name = "azure-landing-zone"
environment  = "shared"

# Identity Configuration
create_service_principal = false # Set to true if you need a Service Principal for automation
create_aks_identity      = true  # Create Managed Identities for AKS clusters

# Tags
tags = {
  Project     = "azure-landing-zone"
  ManagedBy   = "terraform"
  Environment = "shared"
  CostCenter  = "infrastructure"
}
